@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: #ff1044;
}

header,
#hot-deal {
    background-color: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner-text h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* flower section start */
#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background-color: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background-color: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* align section */
#icons {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 70px 0;
    margin: 0 150px;

}

.icon-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.icon-img {
    padding: 0 100px;
}

.icon p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* hot deal section */
.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

#hot-deal .hot-deal-text {
    width: 75%;
    max-width: 445px;
    text-align: center;
}

#hot-deal .hot-deal-text * {
    margin-bottom: 24px;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

#hot-deal .hot-deal-img {
    max-width: 318px;
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.ban {
    display: flex;
    justify-content: space-evenly;
}

.four img {
    width: 250px;
    height: 280px;
}

.img-cont {
    background-color: #FFF;
    margin: 0 40px;
}

#news {
    margin: 128px 0;
}

.new {
    background-image: url('./images/Rectangle\ 9.png');
    padding: 122px 20px;
}

#news form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

#news form input {
    flex-grow: 1;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

.foot {
    text-align: center;
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    background-color: black;
    padding: 20px;
}

.fl{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.foot p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.foot small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}